*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar{
    min-height: 10vh;
    background-color: dimgray;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}
 
